<!DOCTYPE html>
<html>
<head>
    <title>Banterbird</title>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCci5PNgbTXfWCurXhcyKustoSy5D6cCcujQ&s" alt="Banterbird Logo">
    <script src="/static/js/app.js" defer></script>
    <link rel="stylesheet" href="/static/js/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Banterbird</h1>
    <div>
        Logged in as: <strong id="username">admin</strong>
    </div>
    <div>
        <h3>New Post</h3>
        <textarea id="postInput" placeholder="What's on your mind?"></textarea><br>
        <button onclick="submitPost()">Tweet</button>
    </div>
    <hr>
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post">
            <p><strong class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
            <hr>
        </div>
    </template>
</body>
</html>
